/* здесь используйте глобальные переменные */
$base-color-text: #444444;
$bg-basic-green: #68b738;
$color-opacity-green: rgba(104, 183, 56, 0.85);
$white-text: #ffffff;
$head-color: #000000;
$card-color: #222222;
$bg-accent-color: #f2f2f2;
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
