.additional__wrapper {
  min-width: 280px;
  padding: 0 20px;
}

.additional__text {
  @include font($secondary-font, 24px, 24px, $head-color);
  font-weight: 400;
  border-bottom: 1px solid #cdcdcd;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 36px;
}

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #cdcdcd;
}

.additional__name {
  @include font($secondary-font, 16px, 16px, $card-color);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  padding: 13px 0;
}

.additional__quantity {
  @include font($primary-font, 14px, 14px, $base-color-text);
}

.additional__price {
  @include font($primary-font, 14px, 14px, $base-color-text);
}

.additional__separator {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.additional__button {
  @include font($secondary-font, 16px, 20px, $white-text);
  min-width: 280px;
  min-height: 40px;
}
