.additional__content {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 1220px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
}

.additional__wrapper {
  min-width: 280px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.additional__text {
  @include font($secondary-font, 24px, 24px, $head-color);
  font-weight: 400;
  margin: 0;
  padding: 23px 0 36px 20px;
  width: fit-content;
  background-color: #ffffff;
  position: relative;
  box-shadow: -40px 0 0 #ffffff, 40px 0 0 #ffffff;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 32px, 32px, $head-color);
    padding: 72px 0 80px;
    width: fit-content;
    margin-left: 40px;
  }

  @media (min-width: $desktop-width) {
    @include font($secondary-font, 40px, 40px, $head-color);
    width: fit-content;
    padding: 71px 0 79px;
    margin: 0;
  }
}

.additional__text::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100vw;
  left: -50vw;
  height: 2px;
  background-color: $bg-basic-green;
  box-shadow: 100vw 0 0 $bg-basic-green;
  transform: translateY(10px);

  @media (min-width: $tablet-width) {
    transform: translateY(14px);
  }

  @media (min-width: $desktop-width) {
    transform: translateY(17px);
  }
}

.additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
    padding: 0;

    &:first-of-type {
      border-top: none;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 896px;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 0;
  }
}

.additional__item {
  padding: 13px 0 20px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 27px 38px 26px;
    border-top: 1px solid #cdcdcd;
    border-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 16px 0 3px;
  }
}

.additional__item-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-bottom: 22px;
  }
}

.additional__name {
  @include font($secondary-font, 16px, 16px, $card-color);
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 13px;
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 20px, 20px, $card-color);
    border: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 7px;
  }
}

.additional__quantity {
  @include font($primary-font, 14px, 14px, $base-color-text);
  max-width: 140px;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 16px, 20px, $base-color-text);
  }
}

.additional__price {
  @include font($primary-font, 14px, 14px, $base-color-text);
  max-width: 45px;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 16px, 20px, $base-color-text);
  }
}

.additional__separator {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;

  @media (min-width: $tablet-width) {
    padding: 0;
    gap: 53px;
  }

  @media (min-width: $desktop-width) {
    min-width: 285px;
    gap: none;
    padding-top: 10px;
  }
}

.additional__button {
  @include font($secondary-font, 16px, 20px, $white-text);
  min-width: 280px;
  min-height: 40px;
  padding: 10px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 244px;
    min-height: 40px;
    margin: -2px 0 14px;
  }
}

.additional__offer {
  background-color: $bg-basic-green;
  background-image:
    linear-gradient($color-opacity-green, $color-opacity-green),
    image-set(
      url("../../images/catalog-mobile-cat@1x.webp") 1x,
      url("../../images/catalog-mobile-cat@2x.webp") 2x,
      url("../../images/catalog-mobile-cat@1x.jpg") 1x,
      url("../../images/catalog-mobile-cat@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  text-align: center;
  min-width: 280px;
  min-height: 290px;
  background-size: cover;
  margin: 34px 20px;

  @media (min-width: $tablet-width) {
    background-image:
      linear-gradient($color-opacity-green, $color-opacity-green),
      image-set(
        url("../../images/catalog-tablet-cat@1x.webp") 1x,
        url("../../images/catalog-tablet-cat@2x.webp") 2x,
        url("../../images/catalog-tablet-cat@1x.png") 1x,
        url("../../images/catalog-tablet-cat@2x.png") 2x
      );
    background-repeat: no-repeat;
    text-align: center;
    min-height: 200px;
    background-size: cover;
    margin: 0;
    margin-top: 70px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-left: 80px;
    background-image:
      linear-gradient($color-opacity-green, $color-opacity-green),
      image-set(
        url("../../images/catalog-desktop-cat@1x.webp") 1x,
        url("../../images/catalog-desktop-cat@2x.webp") 2x,
        url("../../images/catalog-desktop-cat@1x.jpg") 1x,
        url("../../images/catalog-desktop-cat@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    background-size: 245px 288px;
    background-position: left;
    text-align: center;
    min-width: 245px;
  }
}

.additional__offer-gift {
  @include font($primary-font, 16px, 20px, $white-text);
  text-align: center;
  min-height: 290px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    text-align: left;
    min-width: 168px;
    min-height: 200px;
    flex-direction: row;
    align-items: center;
    gap: 188px;
    margin: 0;
    padding: 0;
    padding-right: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    min-height: 288px;
    flex-direction: column;
    text-align: center;
    gap: 0;
    padding: 0 30px;
    margin-top: 1px;
  }
}

.additional__offer-gift::before {
  content: "";
  display: block;
  background-image: url("../../icons/stack.svg#icon_podarok");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 78px 80px;
  padding-top: 188px;

  @media (min-width: $tablet-width) {
    padding-left: 234px;
  }
}

.additional__name-link {
  margin: 0;
  cursor: pointer;
  text-decoration: none;

  @media (min-width: $tablet-width) {

    max-width: 180px;
  }

  @media (min-width: $desktop-width) {
    min-width: 325px;
  }
}

.additional__name-link:focus-visible {
  opacity: 0.8;
}

.additional__name-link:hover {
  opacity: 0.8;
}

.additional__name-link:active {
  opacity: 0.6;
}
