.adress-wrapper {
  min-width: 280px;
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
}

.adress-wrapper__slogan {
  @include font($secondary-font, 16px, 20px, #111111);
  margin: 0;
}

.adress-wrapper__text {

  margin: 0;
}
