.button {
  font-weight: 400;
  background-color: $bg-basic-green;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  text-align: center;
  display: block;
}

.button:hover {
  background-color: #5eaa2f;
}

.button:focus-visible {
  background-color: #5eaa2f;
}

.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}

.button--secondary {
  background-color: $bg-accent-color;
  color: $base-color-text;
  min-width: 280px;
  min-height: 40px;

  @media (min-width: $tablet-width) {
    min-width: 250px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 169px;
  }
}

.button--secondary:hover {
  background-color: #ebebeb;
}

.button--secondary:focus-visible {
  background-color: #f2f2f2;
}

.button--secondary:active {
  background-color: #ebebeb;
}
