.card {
  display: grid;
  grid-template-areas: "image title" "image options" "button button";
  padding: 20px 20px 25px;
  border-bottom: 1px solid #ebebeb;

  &:first-child {
    border-top: 1px solid #ebebeb;
  }
}

.card__link-img {
  text-decoration: none;
  grid-area: image;
}

.card__link-name {
  text-decoration: none;
  grid-area: title;
}

.card__options {
  margin: 0;
  padding: 0;
  grid-area: options;
}

.card__info {
  display: flex;
  justify-content: space-between;
}

.card__option {
  @include font($primary-font, 12px, 16px, $base-color-text);
}

.card__text {
  @include font($primary-font, 12px, 16px, $base-color-text);
  text-align: center;
  margin: 0;
  padding: 0 20px 21px;
}

.card__value {
  @include font($primary-font, 12px, 16px, $base-color-text);
}

.card__title {
  @include font($secondary-font, 16px, 20px, $card-color);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  margin: 0;
}

.card__title--secondary {
  display: block;
  padding: 78px 20px 8px;
}

.card__title--secondary::before {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #d3d3d3;
  mask-image: url("../../icons/stack.svg#plus");
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
  transform: translateX(105px) translateY(-60px);
}

.card__title--secondary:hover::before {
  opacity: 0.3;
}

.card__title--secondary:active::before {
  opacity: 0.2;
}

.card__button {
  @include font($secondary-font, 16px, 20px, $white-text);
  min-width: 280px;
  min-height: 40px;
  grid-area: button;
}
