.card__link {
  @include font($secondary-font, 16px, 20px, $card-color);
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.card__option {
  @include font($primary-font, 12px, 16px, $base-color-text);
}

.card__value {
  @include font($primary-font, 12px, 16px, $base-color-text);
}

.card__title {
  @include font($secondary-font, 16px, 20px, #111111);
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.card__text {
  @include font($primary-font, 12px, 16px, $base-color-text);
  text-align: center;
}

.card__button {
  max-width: 280px;
  max-height: 40px;
}
