.catalog {
  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 63px 80px;
  }
}

.catalog__container-products {
  @include font($secondary-font, 36px, 36px, $head-color);
  font-weight: 400;
  display: block;
  position: relative;
  padding: 27px 20px 41px;
  margin: 0;
  border-top: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 60px, 60px, $head-color);
    border: none;
    padding: 65px 30px 84px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 110px 84px;
  }
}
