.main-nav__toggle {
  content: "";
  display: block;
  min-width: 24px;
  min-height: 24px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#toggle-mobile");
  mask-repeat: no-repeat;
  mask-position: center;
}

.main-nav__toggle:focus {
  opacity: 0.3;
}

.main-nav__toggle:active {
  opacity: 0.2;
}
