.map {
  background-image:
    image-set(
      url("../../images/map@1x.jpg") type("image/jpg") 1x,
      url("../../images/map@2x.jpg") type("image/jpg") 2x
    );
  background-repeat: no-repeat;
  background-position: 50% 0, 50% 0;
  background-size: 320px 362px;
  display: block;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 400px;
  }
}

.map iframe {
  display: block;
  border: none;

  @media (min-width: $tablet-width) {
    min-width: 768px;
    max-height: 400px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    height: 400px;
  }
}
