.preview__list {
  list-style-type: none;
  padding: 25px 20px 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    min-width: 708;
    min-height: 372;
    padding: 0 30px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    max-width: 1220px;
    min-height: 374px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 80px;
    padding: 0;
    padding-top: 136px;
  }
}

.preview__item {
  position: relative;
  padding: 21px 33px 22px 20px;

  @media (min-width: $tablet-width) {
    min-width: 708px;
    min-height: 372px;
    padding: 77px 316px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    min-width: 570px;
    min-height: 374px;
    padding: 41px 61px 55px 52px;
  }
}

.preview__item--slim {
  background-color: $bg-accent-color;
  margin-bottom: 20px;
  display: block;

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#cat-slim");
    background-repeat: no-repeat;
    background-size: 200px 211px;
    background-position: calc(100% - 63px);
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    background-image: none;
    margin-bottom: 0;
  }
}

.preview__item--pro {
  background-color: $bg-accent-color;
  display: block;

  @media (min-width: $tablet-width) {
    background-image: url("../../icons/stack.svg#cat-pro");
    background-repeat: no-repeat;
    background-size: 268px 200px;
    background-position: calc(100% - 29px);
  }

  @media (min-width: $desktop-width) {
    background-image: none;
  }
}

.preview__title {
  @include font($secondary-font, 24px, 37px, $head-color);
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 22px;
  max-width: 240px;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 36px, 36px, $head-color);
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    max-width: 450px;
  }
}

.preview__title--slim {
  padding: 9px 0 7px 76px;
  margin-left: -6px;
  background-image: url("../../icons/stack.svg#cat-slim");
  background-size: 59px 53px;
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/stack.svg#cat-slim");
    display: block;
    background-size: 100px 106px;
    padding: 36px 0 33px 162px;
    margin-bottom: 40px;
  }
}

.preview__title--pro {
  padding: 9px 0 7px 78px;
  margin-left: -7px;
  background-image: url("../../icons/stack.svg#cat-pro");
  background-size: 67px 50px;
  background-repeat: no-repeat;
  background-position: left;

  @media (min-width: $tablet-width) {
    background-image: none;
    padding: 0;
    margin-left: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("../../icons/stack.svg#cat-pro");
    display: block;
    background-size: 134px 100px;
    padding: 36px 30px 39px 180px;
    margin-left: -18px;
    margin-bottom: 34px;
  }
}

.preview__text {
  @include font($primary-font, 14px, 18px, $base-color-text);
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  display: block;
  position: relative;

  @media (min-width: $tablet-width) {
    @include font($primary-font, 16px, 24px, $base-color-text);
    border: none;
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 29px;
  }
}

.preview__link {
  @include font($secondary-font, 16px, 16px, $head-color);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  gap: 16px;
  padding-top: 19px;

  @media (min-width: $tablet-width) {
    @include font($secondary-font, 20px, 29px, $head-color);
    padding: 0;
    gap: 26px;
  }
}

.preview__link::after {
  content: "";
  display: block;
  min-width: 32px;
  min-height: 10px;
  background-color: #000000;
  mask-image: url("../../icons/stack.svg#arrow-right");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 32px 12px;
}

.preview__link:hover::after {
  transform: scaleX(1.33);
  transform-origin: left center;
}

.preview__link:active {
  opacity: 0.3;
  transform: scaleX(1.33);
  transform-origin: left center;
}
