.site-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 436px;
    min-height: 36px;
    display: flex;
    justify-content: space-between;
  }
}

.site-list__link {
  @include font($secondary-font, 18px, 24px, $head-color);
  text-decoration: none;
  text-transform: uppercase;
}

.site-list__link:hover {
  opacity: 0.6;
}

.site-list__link:focus-visible {
  opacity: 0.3;
}

.site-list__item {
  padding: 22px 20px 24px;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-bottom: 12px;
    padding-top: 14px;
  }
}


@media (min-width: $tablet-width) {
  .site-list__item--current {
    border-bottom: 2px solid #68b738;
  }
}
