.social__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social__link {
  @include font($secondary-font, 14px, 20px, $head-color);
  text-decoration: none;
  display: block;
  width: 28px;
  height: 22px;
}

.social__link--vk {
  mask-image: url("../../icons/stack.svg#vk-social");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;
}

.social__link--youtube {
  mask-image: url("../../icons/stack.svg#youtube-social");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;
}

.social__link--telegram {
  mask-image: url("../../icons/stack.svg#telegram-social");
  mask-repeat: no-repeat;
  mask-position: center;
  background-color: #666666;
}

.social__link:hover {
  background-color: $bg-basic-green;
}

.social__link:focus-visible {
  background-color: $bg-basic-green;
}

.social__link:active {
  opacity: 0.3;
}

